@use '../../../styles/shop-variables';
@use '../../../styles/mixins/shop-mixins';

$palette: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$checkoutContainerSpacer: 60px 40px;
$titleFontWeight: 700;
$borderBottomSize: 1px;
$borderRadiusTextarea: 4px;
$titleMarginBottom: 40px;

.checkoutContainer {
  padding: $checkoutContainerSpacer;

  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: $titleFontWeight;
    margin-bottom: $titleMarginBottom;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;

  div > input,
  select {
    border-radius: 0;
    padding: map-get($spacer, 21) 0;
    margin: map-get($spacer, 7) 0;
    background-color: transparent;
    border: none;
    border-bottom: $borderBottomSize solid map-get($palette, lopi-grey-light);
    color: map-get($palette, lopi-green);
  }
}
