@use '../../../styles/shop-variables';
$breakpoints: shop-variables.$grid-breakpoints;
$productsMargin: 60px;

.products {
  display: flex;
  justify-content: space-around;
  margin-top: $productsMargin;

  @media (min-width: map-get($breakpoints, lg)) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
