@use '../../../../../../../../../styles/shop-variables';
@use '../../../../../../../../../styles/mixins/shop-mixins';

$pallete: shop-variables.$theme-colors;
$buttonFontWeight: 500;

.quantityButton {
  @include shop-mixins.flex-center();
  color: map-get($pallete, lopi-black);
  font-weight: $buttonFontWeight;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
    background: none;
  }
}
