@use '../../../../../.././styles/shop-variables';

$palette: shop-variables.$theme-colors;
$spacers: shop-variables.$spacers;

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px;
  background-color: map-get($palette, lopi-white);
  padding-top: map-get($spacers, 31);
  min-width: 280px;
  max-width: 1640px;
  list-style: none;
}

.tile {
  float: left;
  margin-bottom: 90px;
  width: 330px;
  min-width: 280px;
  height: 423px;

  .imageArea {
    position: relative;

    .tileImage {
      width: 330px;
      height: 330px;
    }

    .tileStatus {
      position: absolute;
      margin: map-get($spacers, 3) 0 0 map-get($spacers, 3);
      background-color: #05f2f2;
      width: 60px;
      color: white;
      font-weight: shop-variables.$font-weight-normal;
      font-size: shop-variables.$font-size-sm;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;

      .price {
        background-color: map-get($palette, lopi-orange);
      }
    }
  }

  .buttonToCart {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    width: 90%;
    font-size: shop-variables.$font-size-base;
    text-transform: uppercase;
  }

  &:hover {
    .buttonToCart {
      display: block;
    }
  }
}

.tileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: map-get($spacers, 4);
  margin-left: map-get($spacers, 1);

  .star {
    margin-left: map-get($spacers, 1);
  }

  .starOrange {
    margin-left: map-get($spacers, 1);
    color: map-get($palette, lopi-orange);
  }
  .starGrey {
    color: map-get($palette, lopi-grey);
  }
  span {
    display: flex;
    margin-left: map-get($spacers, 1);
    color: map-get($palette, lopi-grey);
    font-weight: shop-variables.$font-weight-normal;
    font-size: shop-variables.$font-size-sm;
    line-height: 16px;
    text-align: center;
  }
}

.productName {
  margin-top: map-get($spacers, 12);
  margin-left: map-get($spacers, 1);
  font-weight: shop-variables.$font-weight-normal;
  font-size: shop-variables.$font-size-base;
  line-height: 26px;
}

.productPrice {
  display: flex;
  flex-direction: row;
  margin-bottom: map-get($spacers, 31);
  font-weight: shop-variables.$font-weight-normal;
  font-size: shop-variables.$font-size-base;
  line-height: 16px;
  text-align: center;

  .normalPrice {
    margin-top: map-get($spacers, 12);
    margin-left: map-get($spacers, 1);
    color: map-get($palette, lopi-dark-green);
    text-decoration: none;
  }

  .previousPrice {
    margin-top: map-get($spacers, 12);
    margin-left: map-get($spacers, 1);
    color: var(--theme-green);
    text-decoration: line-through;
  }

  .currentPrice {
    margin-top: map-get($spacers, 1);
    margin-left: map-get($spacers, 31);
    color: map-get($palette, lopi-orange);
  }
}
