@use '../../../.././styles/shop-variables';
$breakpoint: shop-variables.$grid-breakpoints;
$palette: shop-variables.$theme-colors;
$spacers: shop-variables.$spacers;

$productWidth: 165px;
$productHeight: 248px;
$productWidthDesktop: 300px;
$productHeightDesktop: 430px;
$imageWidthDesktop: 330px;
$imageHeightDesktop: 300px;
$productMargin: 42px;
$productFontSize: 15px;
$tilePadding: 8px;

.product {
  display: flex;
  width: $productWidth;
  height: $productHeight;
  padding: 0;
  margin-bottom: $productMargin;

  @media (min-width: map-get($breakpoint, xl)) {
    width: $productWidthDesktop;
    height: $productHeightDesktop;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  padding: $tilePadding;

  .imageArea {
    display: flex;
    position: relative;

    .tileImage {
      @media (min-width: map-get($breakpoint, xl)) {
        width: $imageWidthDesktop;
        height: $imageHeightDesktop;
      }
    }

    .tileStatus {
      position: absolute;
      background-color: #05f2f2;
      color: white;
      font-weight: shop-variables.$font-weight-normal;
      font-size: shop-variables.$font-size-sm;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;

      .price {
        background-color: map-get($palette, lopi-orange);
      }
    }
  }

  .buttonToCart {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    width: 70%;
    font-size: shop-variables.$font-size-base;
    text-transform: uppercase;
  }

  &:hover {
    .buttonToCart {
      display: block;
    }
  }
}

.buttonToCart:disabled {
  opacity: 100%;
  border-color: map-get($palette, lopi-grey);
  background-color: map-get($palette, lopi-grey-light);
  color: map-get($palette, lopi-grey);
}

.productName {
  margin-top: map-get($spacers, 12);
  margin-left: map-get($spacers, 1);
  font-weight: shop-variables.$font-weight-normal;
  font-size: shop-variables.$font-size-base;
  line-height: 26px;
}

.productPrice {
  display: flex;
  flex-direction: row;
  margin-bottom: map-get($spacers, 31);
  font-weight: shop-variables.$font-weight-normal;
  font-size: shop-variables.$font-size-base;
  line-height: 16px;
  text-align: center;

  .normalPrice {
    margin-top: map-get($spacers, 12);
    margin-left: map-get($spacers, 1);
    color: map-get($palette, lopi-dark-green);
    text-decoration: none;
  }

  .previousPrice {
    margin-top: map-get($spacers, 12);
    margin-left: map-get($spacers, 1);
    color: var(--theme-green);
    text-decoration: line-through;
  }

  .currentPrice {
    margin-top: map-get($spacers, 1);
    margin-left: map-get($spacers, 31);
    color: map-get($palette, lopi-orange);
  }
}
