@use '../../styles/shop-variables';

$breakpoints: shop-variables.$grid-breakpoints;
$pallete: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$titleFontWeight: 700;
$sortButtonMargin: 300px;
$button-width: 155px;

.title {
  margin-top: map-get($spacer, 40);
  color: map-get($pallete, lopi-black);
  font-weight: $titleFontWeight;
  text-align: center;
  text-transform: uppercase;
}

.sortButtonDesktop {
  display: none;

  @media (min-width: map-get($breakpoints, lg)) {
    display: block;
    margin-left: $sortButtonMargin;
  }
}

.filterButtonsMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: map-get($breakpoints, lg)) {
    display: none;
  }
}

.button {
  margin: map-get($spacer, 60) 0;
  border-color: map-get($pallete, lopi-orange);
  background-color: transparent;
  width: $button-width;
  color: map-get($pallete, lopi-orange);

  &:hover {
    border-color: map-get($pallete, lopi-orange);
    background-color: map-get($pallete, lopi-orange);
    color: map-get($pallete, lopi-white);
  }
}
