.main {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 40px;
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.button {
  grid-column: 2;
  justify-self: center;
  width: 155px;
  padding: 10px 16px;
  margin: 60px 0;
  background-color: transparent;
  border: 2px solid #ff9a17;
  border-radius: 6px;
  color: #ff9a17;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    border: 2px solid #ff9a17;
    background-color: #ff9a17;
    color: #fff;
  }
}
