@use '../../styles/shop-variables';

$pallete: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$button-width: 155px;

.title {
  margin-top: map-get($spacer, 40);
  text-transform: uppercase;
  color: map-get($pallete, lopi-black);
  font-weight: 700;
  text-align: center;
}

.button {
  width: $button-width;
  margin: map-get($spacer, 60) 0;
  background-color: transparent;
  border-color: map-get($pallete, lopi-orange);
  color: map-get($pallete, lopi-orange);

  &:hover {
    border-color: map-get($pallete, lopi-orange);
    background-color: map-get($pallete, lopi-orange);
    color: map-get($pallete, lopi-white);
  }
}
