@use '../../../../../../../../styles/shop-variables';
@use '../../../../../../../../styles/mixins/shop-mixins';

$pallete: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$footerWidth: 100%;
$buttonBorderWidth: 1px;
$buttonBorderRadius: 5px;
$buttonHeight: 40px;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $footerWidth;
  margin-top: auto;

  > p {
    text-transform: capitalize;
  }

  > button {
    @include shop-mixins.flex-center;
    background-color: map-get($pallete, lopi-brown);
    border: $buttonBorderWidth solid map-get($pallete, lopi-orange);
    border-radius: $buttonBorderRadius;
    height: $buttonHeight;
    font-weight: 700;
    text-transform: uppercase;
    color: map-get($pallete, lopi-orange);
    margin-top: map-get($spacer, 7);

    &:hover {
      cursor: pointer;
      background-color: map-get($pallete, lopi-black);
    }
  }
}
