@use '../../../styles/shop-variables';

$palette: shop-variables.$theme-colors;
$spacers: shop-variables.$spacers;
$breakpoints: shop-variables.$grid-breakpoints;

$imageSize: 250px;
$imageSizeXXS: 300px;
$imageSizeXS: 400px;
$imageSizeSM: 500px;
$imageSizeLG: 600px;

.breadcrumbs {
  margin-top: map-get($spacers, 5);
}
.imageContainer {
  display: flex;
  justify-content: center;

  .detailsImage {
    width: $imageSize;
    height: $imageSize;
    @media (min-width: map-get($breakpoints, xxs)) {
      width: $imageSizeXXS;
      height: $imageSizeXXS;
    }
    @media (min-width: map-get($breakpoints, xs)) {
      width: $imageSizeXS;
      height: $imageSizeXS;
    }
    @media (min-width: map-get($breakpoints, sm)) {
      width: $imageSizeSM;
      height: $imageSizeSM;
    }
    @media (min-width: map-get($breakpoints, lg)) {
      width: $imageSizeLG;
      height: $imageSizeLG;
    }
  }
}

.categories {
  display: flex;
  margin-top: map-get($spacers, 5);

  .categoryIntro {
    color: map-get($palette, lopi-dark-green);
  }

  .categoryName {
    margin-left: map-get($spacers, 3);
  }
}
