@use '../../../../../../styles/shop-variables';

$sidebarTitleBorderWidth: 1px;
$titleFontSize: 15px;
$rangeInputHeight: 5px;
$sliderTrackInputHeight: 2px;
$sliderThumbSize: 8px;
$sliderRangeThumbSize: 15px;

$pallete: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;

.priceContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacer, 35);
}

.title {
  display: flex;
  margin: map-get($spacer, 8);
  border-bottom: $sidebarTitleBorderWidth solid map-get($pallete, lopi-grey);
  padding-bottom: map-get($spacer, 7);
  font-size: $titleFontSize;
  text-transform: uppercase;
}

.slider {
  display: flex;
  position: relative;
  align-items: center;

  background-color: map-get($pallete, lopi-orange);
  height: 3px;

  .rangeInput {
    position: absolute;
    appearance: none;
    z-index: 1;
    margin: 0;
    outline: none;
    padding: 0;
    height: $rangeInputHeight;

    &::-webkit-slider-runnable-track {
      background: map-get($pallete, lopi-orange);
      height: $sliderTrackInputHeight;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      transition: background 0.3s;
      cursor: pointer;
      margin-top: -3px;
      border-radius: 50%;
      background: map-get($pallete, lopi-orange);
      width: $sliderThumbSize;
      height: $sliderThumbSize;
    }

    &:active::-webkit-slider-thumb {
      background: map-get($pallete, lopi-orange);
    }

    &::-moz-range-track {
      background: map-get($pallete, lopi-orange);
      height: $rangeInputHeight;
    }

    &::-moz-range-thumb {
      cursor: pointer;
      border-radius: 50%;
      background: map-get($pallete, lopi-orange);
      width: $sliderRangeThumbSize;
      height: $sliderRangeThumbSize;
    }
  }

  .dotLeft {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-color: map-get($pallete, lopi-orange);
    width: 20px;
    height: 20px;
    .anchor {
      display: block;
      z-index: 2;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      overflow: hidden;
      color: red;
    }
  }

  .dotRight {
    display: inline-block;
    position: absolute;
    margin-left: 227px;
    border-radius: 50%;
    background-color: map-get($pallete, lopi-orange);
    width: 20px;
    height: 20px;
  }
}

.label {
  opacity: 0.7;
  margin: map-get($spacer, 31) 0 map-get($spacer, 7) map-get($spacer, 8);
}
