@use '../../../../../styles/shop-variables';

$pallete: shop-variables.$theme-colors;

.slidecontainer {
  transform: translateY(-10px);
  text-align: center;
}
.slider {
  --SliderColor: hsl(50, 100%, 50%);
  -webkit-appearance: none;
  margin: 50px auto;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: 8px;
}

/* --------------------------- webkit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--SliderColor);
  width: 18px;
  height: 18px;
  overflow: visible;
}
/* -------------------------- Firefox */
.slider::-moz-range-thumb {
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--SliderColor);
  width: 18px;
  height: 18px;
  overflow: visible;
}
.slider::-moz-focus-outer {
  border: 0;
}

.bg-track {
  background: #eeeeee;
  height: 12px;
}
.range-btw {
  position: absolute;
  right: 0px;
  left: 0px;
  background: #0640aa;
  height: 12px;
}
