@use '../../../../../../../../styles/shop-variables';
@use '../../../../../../../../styles/mixins/shop-mixins';

$pallete: shop-variables.$theme-colors;
$borderButtonWidth: 1px;
$menuBorderRadius: 5px;
$menuWidth: 118px;
$menuHeight: 36px;
$paragraphFontWeight: 500;

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: $borderButtonWidth solid map-get($pallete, lopi-orange);
  border-radius: $menuBorderRadius;
  width: $menuWidth;
  height: $menuHeight;

  > p {
    margin: 0;
    padding: 0;
    font-weight: $paragraphFontWeight;
  }
}
