@use '../../../../../styles/shop-variables' as var;

$theme-colors: var.$theme-colors;
$breakpoint: var.$grid-breakpoints;

.galeryContainer {
  background-color: map-get($theme-colors, lopi-grey-dark);
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  .galery {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    // margin-top: 100px;pa
    margin-left: 50%;
    max-width: 1440px;
    .imageElement {
      width: 170px;
      height: 170px;
      @media (min-width: map-get($breakpoint, xl)) {
        width: 290px;
        height: 290px;
      }
    }
  }
}
