@use '../../../../../styles/shop-variables' as var;
@use './customersOpinionsVariables.module.scss' as v;

// Variables

$theme-colors: var.$theme-colors;
$spacer: var.$spacers;

// Keyframes

@keyframes slideforward {
  from {
    transform: translateX(0);
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }
  25% {
    transform: translateX(v.$middleTransition);
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }

  50% {
    font-size: v.$fontSizeTitleBig;
  }

  100% {
    transform: translateX(0);
    width: v.$carouselFrontWidth;
    height: v.$carouselFrontHeight;
    font-size: v.$fontSizeTitleBig;
  }
}

@keyframes slidebackward {
  from {
    z-index: 6;
    width: v.$carouselFrontWidth;
    height: v.$carouselFrontHeight;
    font-size: v.$fontSizeTitleBig;
  }

  25% {
    transform: translateX(v.$middleTransition);
    font-size: v.$fontSizeTitleSmall;
  }

  50% {
    z-index: 4;
  }

  to {
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }
}

@keyframes slideleftactive {
  0% {
    transform: translateX(0);
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }

  25% {
    transform: translateX(v.$leftTransition);
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }

  100% {
    transform: translateX(v.$leftActive);
  }
}

@keyframes sliderightactive {
  0% {
    transform: translateX(0);
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }

  25% {
    transform: translateX(v.$rightTransition);
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
  }

  100% {
    transform: translateX(v.$rightActive);
  }
}

@keyframes forwardfontchangebig {
  from {
    font-weight: var.$font-weight-thin;
    font-size: v.$fontSizeTitleSmall;
  }
  25% {
    font-weight: var.$font-weight-thin;
    font-size: v.$fontSizeTitleSmall;
  }

  to {
    font-weight: var.$font-weight-normal;
    font-size: v.$fontSizeTitleBig;
  }
}

@keyframes forwardfontchangesmall {
  from {
    font-size: v.$fontSizeAuthorSmall;
  }
  25% {
    font-size: v.$fontSizeAuthorSmall;
  }

  to {
    font-size: v.$fontSizeAuthorBig;
  }
}

@keyframes backwardfontchangebig {
  from {
    font-weight: var.$font-weight-normal;
    font-size: v.$fontSizeTitleBig;
  }

  25% {
    font-weight: var.$font-weight-thin;
    font-size: v.$fontSizeTitleSmall;
  }

  to {
    font-weight: var.$font-weight-thin;
    font-size: v.$fontSizeTitleSmall;
  }
}

@keyframes backwardfontchangesmall {
  from {
    font-size: v.$fontSizeAuthorBig;
  }

  to {
    font-size: v.$fontSizeAuthorSmall;
  }
}

@keyframes sliderightbackward {
  from {
    transform: translateX(v.$rightActive);
    z-index: 5;
    width: v.$carouselFrontWidth;
    height: v.$carouselFrontHeight;
    font-size: v.$fontSizeTitleBig;
  }

  25% {
    font-size: v.$fontSizeTitleSmall;
  }

  30% {
    transform: translateX(v.$rightTransition);
    font-size: v.$fontSizeTitleSmall;
  }

  to {
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
    font-size: v.$fontSizeAuthorBig;
  }
}

@keyframes slideleftbackward {
  from {
    transform: translateX(v.$leftActive);
    z-index: 10;
    width: v.$carouselFrontWidth;
    height: v.$carouselFrontHeight;
    font-size: v.$fontSizeTitleBig;
  }

  25% {
    font-size: v.$fontSizeTitleSmall;
  }

  30% {
    transform: translateX(v.$leftTransition);
    font-size: v.$fontSizeTitleSmall;
  }

  to {
    width: v.$carouselBackWidth;
    height: v.$carouselBackHeight;
    font-size: v.$fontSizeAuthorBig;
  }
}

@keyframes starsbackward {
  from {
    font-size: v.$starSizeBig;
  }
  to {
    font-size: v.$starSizeSmall;
  }
}

@keyframes starsforward {
  from {
    font-size: v.$starSizeSmall;
  }
  to {
    font-size: v.$starSizeBig;
  }
}
