@use '../../../../../styles/shop-variables' as var;

$breakpoint: var.$grid-breakpoints;

$bgImageHeigth: 824px;

//animation

$animationDuration: 2s;
$animationTiming: ease-out;
$animationFillMode: forwards;

//nav circle

$circleWidth: 10px;
$circleHeight: 10px;

//box shadow
$boxShadowColor: #0000000d;

//for media
//element
$carouselFrontWidth: 620px;
$carouselFrontHeight: 454px;

$carouselBackWidth: 420px;
$carouselBackHeight: 370px;

// fonts

$fontSizeTitleXXL: var.$font-size-xxl;
$fontSizeTitleXL: var.$font-size-xl;
$fontSizeTitleLG: var.$font-size-lg;
$fontSizeTitleSM: var.$font-size-sm;

$fontSizeAuthorSM: var.$font-size-sm;
$fontSizeAuthorXS: var.$font-size-xs;
$fontSizeAuthorXXS: var.$font-size-xxs;
$fontSizeAuthorXXXS: var.$font-size-xxxs;

//translate params

$middleTransition: 0%;

$leftActive: 20%;
$leftTransition: -10%;
$leftBackToLeft: 10%;

$rightActive: -20%;
$rightTransition: 10%;
$rightBackToLeft: -10%;

// stars

$starSizeBig: 16px;
$starSizeSmall: 12px;
