.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 355px;
  border: 1px solid #c9cdc7;
  background-color: transparent;
  color: #4b5945;
  width: 261px;
  height: 53px;
  font-size: 15px;
}
