@use '../../../../styles/shop-variables';

$sortDropdownHeight: 48px;
$sortDropdownBorderWidth: 1px;
$sortDropdownBorderRadius: 4px;
$sortDropdownPadding: 0 12px;
$sortDropdownFontSize: 15px;

$pallete: shop-variables.$theme-colors;
$breakpoints: shop-variables.$grid-breakpoints;

.dropdown {
  display: flex;
  height: $sortDropdownHeight;
  align-items: center;
  justify-content: space-between;
  border: $sortDropdownBorderWidth solid map-get($pallete, lopi-grey);
  border-radius: $sortDropdownBorderRadius;
  background-color: transparent;
  color: map-get($pallete, lopi-green);
  padding: $sortDropdownPadding;
  font-size: $sortDropdownFontSize;
}
