@use '../../../../styles/shop-variables';

$palette: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;

.cartBlock {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;

  .supper {
    position: absolute;
    color: black;
    font-size: 8px;
    background: map-get($palette, lopi-orange);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    top: -7px;
    left: 8px;
  }
}
