@use '../../../../../app/styles/shop-variables';
@import '../../../../styles/mixins/flex-center';

$pallette: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$formBorderWidth: 1px;
$formWidth: 450px;
$formMinHeight: 320px;
$formMaxHeight: 432px;
$buttonTopPosition: 45%;
$buttonTransformY: translateY(-45%);
$forgotButtonWidth: 175px;
$forgotButtonFontSize: 15px;
$fontFamily: 'Quicksand', sans-serif;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: map-get($spacer, 31);
  margin: map-get($spacer, 34) map-get($spacer, 34) map-get($spacer, 31)
    map-get($spacer, 34);
  border: $formBorderWidth solid map-get($pallette, lopi-grey-light);
  padding: map-get($spacer, 55) map-get($spacer, 40) map-get($spacer, 40)
    map-get($spacer, 40);
  width: $formWidth;
  min-height: $formMinHeight;
  max-height: $formMaxHeight;
}

.input {
  display: flex;
  align-items: center;
  gap: map-get($spacer, 10);
  padding: map-get($spacer, 21);
  text-align: start;
}

.inputWithIcon {
  @include flex-center();
  position: relative;
  align-self: center;
}

.showPasswordButton {
  position: absolute;
  top: $buttonTopPosition;
  right: map-get($spacer, 31);
  align-self: center;
  transform: $buttonTransformY;
  border: none;
  background: none;

  &:hover,
  &:focus {
    box-shadow: none;
    background: none;
    color: map-get($pallette, lopi-orange);
  }
}

.forgotPassword {
  display: inline-flex;
  margin-top: map-get($spacer, 10);
  border-bottom: $formBorderWidth solid map-get($pallette, lopi-green);
  padding: map-get($spacer, 10) map-get($spacer, 22);
  width: $forgotButtonWidth;
  color: map-get($pallette, lopi-green);
  font-style: normal;
  font-weight: 300;
  font-size: $forgotButtonFontSize;
  line-height: map-get($spacer, 33);
  font-family: $fontFamily;
  text-decoration: none;
}

.submitButton {
  border: $formBorderWidth solid map-get($pallette, lopi-orange);
  background-color: map-get($pallette, lopi-brown);
  padding: map-get($spacer, 7 $spacer);
  color: map-get($pallette, lopi-orange);

  &:disabled {
    background-color: map-get($pallette, lopi-grey);
    color: map-get($pallette, lopi-black);
  }

  &:hover {
    background-color: map-get($pallette, lopi-orange);
  }

  &:focus {
    background-color: map-get($pallette, lopi-orange);
    box-shadow: none;
    border: 0;
  }
}

.createAccount {
  border-width: $formBorderWidth;
  border-color: map-get($pallette, lopi-orange);
  padding: map-get($spacer, 7 $spacer);
  color: map-get($pallette, lopi-orange);

  &:hover {
    background-color: map-get($pallette, lopi-orange);
  }

  &:focus {
    background-color: map-get($pallette, lopi-orange);
  }
}
