@use '../../../../../../styles/shop-variables';
@use '../../../../../../styles/mixins/shop-mixins';

$palette: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$borderWidth: 1px;
$inputFontSize: 12px;
// $inputWidth: ;
$buttonWidth: 168px;
$buttonHeight: 53px;
$buttonBorderRadius: 6px;
$buttonMargin: 30px;

$cartCuponTopPadding: 50px;
$cartCuponBottomPadding: 50px;
$cartCuponBottom: 30px;

.cartCoupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $cartCuponTopPadding $cartCuponBottom $cartCuponBottomPadding
    $cartCuponBottom;

  .cartInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: map-get($palette, lopi-green);
    font-size: $inputFontSize;

    > input {
      border: none;
      border-bottom: $borderWidth solid map-get($palette, lopi-grey);
      background-color: transparent;
      // width: $inputWidth;
    }
  }

  > button {
    @include shop-mixins.flex-center;
    cursor: pointer;
    margin-left: $buttonMargin;
    border: $borderWidth solid map-get($palette, lopi-orange);
    border-radius: $buttonBorderRadius;
    background-color: transparent;
    padding: map-get($spacer, 7) map-get($spacer, 3);
    // width: $buttonWidth;
    height: $buttonHeight;
    color: map-get($palette, lopi-orange);
  }
}
