.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 69px 0 0 0;
  width: 100%;
  height: 348px;
  color: #868686;
  font-size: 15px;
  line-height: 25px;

  .footerTitle {
    padding-bottom: 15px;
    color: white;
    text-transform: uppercase;
  }

  > ul > li {
    padding-bottom: 7px;
  }
}

.footerContactInfo {
  padding-top: 15px;
}

.footerSocial {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.footerSocialElements {
  margin-right: 15px;
}

.footerSubscription {
  padding-left: 320px;
}

.footerSubscriptionForm {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.footerSubscriptionFormInput:enabled {
  border: none;
  border-bottom: white solid 1px;
}

.footerSubscriptionFormInput {
  background: #000;
  width: 120px;
  color: white;
}

.footerSubscriptionFormButton {
  margin-left: 10px;
  border-bottom: white solid 1px;
  width: 40px;
  text-align: center;
}
