$footerMobileMaxHeight: 850px;
$footerSubscriptionExtraSmall: 290px;
$footerSubscriptionSmall: 320px;
$footerBottomMobileHeight: 194px;
$footerBottomMobileHeight: 272px;
$footerLGFooterGroupWidth: 1000px;
$footerLGFooterBottomWidth: 167px;
$footerLGFooterBottomMarginLeft: 150px;
$footerLGFooterSubscriptionFormInputWidth: 117px;
$footerXXLFooterBottomWidth: 400px;
