@use '../../../../../styles/shop-variables';

$spacers: shop-variables.$spacers;
$productsGap: 72px 6px;

$productWidth: 330px;
$productHeight: 400px;
$productFontSize: 15px;

$spacer: shop-variables.$spacers;

.products {
  justify-content: space-evenly;
  gap: $productsGap;
  padding: map-get($spacer, 3) map-get($spacer, 7);
  width: 100%;
}
.similarProducts {
  margin-top: map-get($spacers, 6);
  margin-bottom: map-get($spacers, 70);
  padding: 0;
  font-size: shop-variables.$font-size-lg;
  line-height: shop-variables.$line-height-base;
}
.container {
  margin-top: map-get($spacers, 6);
}
