.menuDesktop,
.navbarLogo {
  display: none;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--theme-dark-green);
  padding: 0;
  width: 100%;
  height: 100px;
  color: var(--theme-white);
}

.menuMobile {
  display: flex;
  align-items: center;
  .menuIconMobile {
    margin: 0 15px;
    :hover {
      cursor: pointer;
      color: var(--theme-orange);
    }
    .active {
      color: var(--theme-orange);
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  text-align: center;
  .searchDesktop {
    display: none;
    position: relative;
    margin-right: 12px;
  }
  .userIcon {
    margin-right: 12px;
  }
  .heartIcon,
  .cartIcon {
    margin-right: 24px;
  }
  .socialsCounter {
    display: flex;
    position: absolute;
    justify-content: center;
    transform: translate(135%, -60%);
    z-index: 1;
    border-radius: 50%;
    background-color: var(--theme-orange);
    width: 15px;
    height: 15px;
    span {
      color: var(--theme-white);
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-white);
  width: 100%;
  height: 100px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  .sliderArrows {
    padding: 0 20px;
    text-align: center;
    svg {
      vertical-align: baseline;
      line-height: 24px;
    }
  }
  .sliderText {
    font-weight: 400;
    line-height: 27, 2px;
  }
}

.dropdownMobile {
  display: flex;
  position: absolute;
  background-color: var(--theme-white);
  width: 100%;
  height: 100px;
  color: black;
  font-size: 16px;
  button {
    border: none;
    background-color: var(--theme-white);
    color: black;
  }
  .dropdownGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    :hover,
    :active,
    :focus,
    :checked {
      background-color: var(--theme-white) !important;
      color: var(--theme-orange) !important;
    }
    :not(.btn-check) {
      background-color: var(--theme-white);
      color: black;
    }
  }
}

@media (min-width: 576px) {
  .navbarLogo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
  }
}

@media (min-width: 992px) {
  .dropdownMobile,
  .menuMobile {
    display: none;
  }

  .navbar {
    height: 69px;
    .menuDesktop {
      display: flex;
      div {
        div {
          background-color: var(--theme-dark-green);
          div {
            padding: 0 10px;
          }
          a {
            color: var(--theme-white);
          }
        }
      }
      .color {
        :not(.btn-check) {
          background-color: var(--theme-dark-green);
          color: var(--theme-white);
        }
        :hover,
        :active,
        :focus,
        :checked {
          background-color: var(--theme-dark-green);
          color: var(--theme-orange);
        }
      }
      .navbar-nav {
        .nav-link.active,
        .nav-link.show {
          color: var(--theme-white) !important;
        }
      }
      a#about-dropdown.dropdown-toggle.show.nav-link {
        color: var(--theme-white) !important;
      }
    }
    .socials {
      .searchDesktop {
        display: block;
        margin-right: 20px;
      }
      .userIcon {
        margin-right: 22px;
      }
      .heartIconm,
      .cartIcon {
        margin-right: 26px;
      }
    }
  }

  .slider {
    height: 45px;
    .sliderArrows {
      padding: 0 47px;
    }
    .sliderText {
      font-weight: 500;
    }
  }
}
@media (min-width: 2500px) {
  .navbar {
    justify-content: space-around;
  }
}
