@use '../../app/styles/admin-variables' as var;

$palette: var.$theme-colors;

.userBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;

  .userPanelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    .userPanel {
      display: flex;
      align-items: center;

      .iconContainer {
        color: map-get($palette, admin-orange);

        .userPanelIcon {
          padding-right: 20px;
          font-size: 20px;
        }
      }

      .userMinature {
        margin-right: 16px;
      }

      .userData {
        display: flex;
        flex-direction: column;
        margin-right: 40px;

        .userName {
          color: map-get($palette, dark);
        }

        .userRole {
          color: map-get($palette, admin-dark-gray);
        }
      }
    }
  }
}
