// @import 'bootstrap/scss/variables';
//Implement configs according to the ones from bootstrap scss files

$font-white: white;
$blue-light: #05f2f2;

$backgroud-light: #f2f2f2;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$theme-colors: (
  'primary': #150713,
  'secondary': pink,
  'dark': #000,
  'admin-dark-gray': #6c757d,
  'admin-gray': #f9fafb,
  'admin-light-gray': #cfd4d9,
  'admin-orange': #ff9d42,
  'admin-blue': #001739,
  'admin-blue-light': #012861,
  'admin-blue-lighter': #0e3268,
  'admin-white': #ffffff,
);

$globalConfig: (
  palette: $theme-colors,
);
