@use '../../../../../styles/shop-variables' as var;

$palette: var.$theme-colors;
$spacers: var.$spacers;

.productName {
  color: map-get($palette, lopi-dark-green);
  font-size: var.$font-size-xl;
}

.productPrice {
  margin-top: map-get($spacers, 4);
}

.productDescription {
  margin-top: map-get($spacers, 3);
}

.productRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: map-get($spacers, 5);
  margin-left: map-get($spacers, 1);

  .productOpinions {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 1);
    margin-left: map-get($spacers, 3);
  }

  span {
    display: flex;
    margin-right: map-get($spacers, 2);
    color: map-get($palette, lopi-dark-grey);
    font-weight: var.$font-weight-normal;
    font-size: var.$font-size-sm;
    line-height: var.$line-height-small;
    text-align: center;
  }
}
