.label {
  opacity: 0.7;
  // margin: map-get($spacer, 31) 0 map-get($spacer, 7) map-get($spacer, 8);
  margin-top: 20px;
  margin-left: 20px;
}
.containerSlider {
  justify-content: center;
  align-items: center;
  /* display: flex; */
  margin-top: 20px;
  margin-left: 10%;
  height: 100px;
}

.slider {
  position: relative;
  width: 200px;
}

.sliderTrack,
.sliderRange {
  position: absolute;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 5px;
}
.sliderTrack {
  z-index: 1;
  background-color: #ced4da;
  width: 100%;
}

.sliderRange {
  z-index: 2;
  background-color: #ff9a17;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  position: absolute;
  outline: none;
  width: 200px;
  height: 0;
  pointer-events: none;
}

.thumbZindexThree {
  z-index: 3;
}

.thumbZindexFour {
  z-index: 4;
}

.thumbZindexFive {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  position: relative;
  cursor: pointer;
  margin-top: 4px;
  box-shadow: 0 0 1px 1px #ced4da;
  border: none;
  border-radius: 50%;
  background-color: #ff9a17;
  width: 18px;
  height: 18px;
  pointer-events: all;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  position: relative;
  cursor: pointer;
  margin-top: 4px;
  box-shadow: 0 0 1px 1px #ced4da;
  border: none;
  border-radius: 50%;
  background-color: #f1f5f7;
  width: 18px;
  height: 18px;
  pointer-events: all;
}
