@use '../../../../../styles/shop-variables' as var;

$breakpoint: var.$grid-breakpoints;

$bgImageHeigth: 824px;

//animation

$animationDuration: 2s;
$animationTiming: ease-out;
$animationFillMode: forwards;

//nav circle

$circleWidthLG: 8px;
$circleHeightLG: 8px;

$circleWidthSM: 7px;
$circleHeightSM: 7px;

//box shadow
$boxShadowColor: #0000000d;

//for media
//element
$carouselFrontWidthLG: 250px;
$carouselFrontHeightLG: 60vh;

$carouselBackWidthLG: 250px;
$carouselBackHeightLG: 55vh;

$carouselFrontWidthXL: 360px;
$carouselFrontHeightXL: 60vh;

$carouselBackWidthXL: 360px;
$carouselBackHeightXL: 55vh;

//translate params

$middleTransition: 0%;

$leftActiveLG: 20%;
$leftTransitionLG: -5%;
$leftBackToLeftLG: 10%;

$rightActiveLG: -20%;
$rightTransitionLG: 5%;
$rightBackToLeftLG: -10%;

$leftActiveXL: 20%;
$leftTransitionXL: -10%;
$leftBackToLeftXL: 10%;

$rightActiveXL: -20%;
$rightTransitionXL: 10%;
$rightBackToLeftXL: -10%;

// fonts

$fontSizeTitleXXL: var.$font-size-lg;
$fontSizeTitleXL: var.$font-size-lg;

$fontSizeTitleLG: var.$font-size-lg;
$fontSizeTitleSM: var.$font-size-lg;

$fontSizeAuthorSM: var.$font-size-xs;
$fontSizeAuthorXS: var.$font-size-xs;

$fontSizeAuthorXXS: var.$font-size-xxs;
$fontSizeAuthorXXXS: var.$font-size-xxxs;
// stars

$starSizeXL: 14px;
$starSizeLG: 12px;

$starSizeSM: 11px;
$starSizeXS: 9px;
