@use '../../../../../styles/shop-variables';

$pallete: shop-variables.$theme-colors;

.tooltip {
  display: inline-block;
  position: relative;
  /* border-bottom: 1px dotted rgb(8, 194, 201); */
  margin-left: 22px;
}

.tooltip .tooltiptext {
  position: absolute;
  bottom: 150%;
  left: 90%;
  z-index: 1;
  margin-left: -80px;
  border-radius: 6px;
  background-color: map-get($pallete, lopi-orange);
  padding: 5px 0;
  width: 70px;
  color: #fff;
  text-align: center;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: map-get($pallete, lopi-orange) transparent transparent
    transparent;
  content: '';
}
