@use '../../../../../../../../../styles/shop-variables';
@use '../../../../../../../../../styles/mixins/shop-mixins';

$pallete: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$menu-width: 100%;
$menu-height: 30px;
$borderButtonWidth: 1px;
$paragraphWidth: 65%;

.menu {
  display: flex;
  width: $menu-width;
  height: $menu-height;
  margin-bottom: map-get($spacer, 8);

  > button {
    @include shop-mixins.flex-center();
    flex-grow: 1;
    background-color: transparent;
    border: $borderButtonWidth solid map-get($pallete, lopi-grey);

    &:hover {
      cursor: pointer;
      background: none;
    }
  }

  > p {
    @include shop-mixins.flex-center();
    flex-basis: $paragraphWidth;
    font-weight: 700;
    text-transform: uppercase;
    border: $borderButtonWidth solid map-get($pallete, lopi-grey);
  }
}
