@use '../../../../styles/shop-variables';
@use '../../../../styles/mixins/shop-mixins';

$palette: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$h1Margin: 25px 0;
$maxWidthSection: 100%;
$heightSection: 100%;
$borderWidth: 1px;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $h1Margin;
    font-weight: 700;
    text-transform: uppercase;
  }

  > .section {
    display: flex;
    justify-content: flex-start;
    max-width: $maxWidthSection;
    height: $heightSection;
  }
}
