@use '../../../../../../../../styles/shop-variables' as var;
@use '../../../customersOpinionsVariables.module.scss' as v;

$theme-colors: var.$theme-colors;
$spacer: var.$spacers;

.carouselElement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: map-get($spacer, 7);
  margin-top: map-get($spacer, 41);
  margin-right: map-get($spacer, 7);
  margin-bottom: map-get($spacer, 7);
  margin-left: map-get($spacer, 7);
  box-shadow: 0 map-get($spacer, 12) map-get($spacer, 3) map-get($spacer, 7)
    v.$boxShadowColor;
  background-color: map-get($theme-colors, lopi-white);
  padding-right: map-get($spacer, 41);
  padding-left: map-get($spacer, 41);
  height: 35vh;
}
