.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p:last-child {
    font-weight: 700;
  }
}
