@use '../../../../styles/shop-variables';

$sidebarWidth: 267px;
$sidebarHeight: 455px;
$sidebarTitleBorderWidth: 1px;
$sidebarTitleFontSize: 15px;

$spacer: shop-variables.$spacers;
$pallete: shop-variables.$theme-colors;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: $sidebarWidth;
  height: $sidebarHeight;
  align-self: self-start;
}

.title {
  margin: map-get($spacer, 8);
  display: flex;
  border-bottom: $sidebarTitleBorderWidth solid map-get($pallete, lopi-grey);
  padding-bottom: map-get($spacer, 7);
  font-size: $sidebarTitleFontSize;
  text-transform: uppercase;

  &:last-child {
    border: none;
  }
}

.categoryList {
  text-transform: capitalize;
  margin-bottom: map-get($spacer, 35);
  display: flex;
  opacity: 0.7;
}

.listItem {
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: transparent;
}

.activeListItem {
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: transparent;
  color: #ff9a17;
}

.badge {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: $sidebarTitleBorderWidth solid map-get($pallete, lopi-green);
  border-radius: 50%;
  color: map-get($pallete, lopi-green);
}

.activeBadge {
  display: flex;
  align-items: center;
  border: 1px solid #ff9a17;
  border-radius: 50%;
  color: #ff9a17;
}

.available {
  font-size: 15px;
  margin-top: 15px;
  display: flex;
  padding: 0 14px;
  justify-content: space-between;
  flex-direction: row-reverse;
  box-shadow: none;

  & input[type='checkbox'] {
    border: none;
    box-shadow: none;
  }

  & input:checked {
    background-color: #ff9a17;
    box-shadow: none;
  }
}
