@use '../../app/styles/admin-variables' as var;

$palette: var.$theme-colors;
$breakpoints: var.$grid-breakpoints;

$titleFontSize: 33px;
$svgPadding: 8px;
$logoPadding: 15px 140px;

.navbar {
  background-color: map-get($palette, admin-blue);
  padding-bottom: 0;
  width: 20%;
  min-width: 215px;
  max-width: 255px;

  .logo {
    display: flex;
    align-items: center;
    padding: $logoPadding;
    font-size: $titleFontSize;

    > p {
      margin: 0;
      color: map-get($palette, admin-white);
    }

    > svg {
      margin-left: $svgPadding;
    }
  }

  .navbarCollapse {
    .navbarNav {
      margin-top: 40px;
      background-color: map-get($palette, admin-blue-light);

      .navbarNavElement {
        display: flex;
        padding-left: 18px;
        width: 100%;
        color: map-get($palette, admin-dark-gray);
        line-height: 40px;

        .navbarIcon {
          padding-right: 12px;
          font-size: 20px;
        }
      }

      .navbarNavElement.active {
        border-left: 3px map-get($palette, admin-orange) solid;
        background-color: map-get($palette, admin-blue-lighter);
        padding-left: 28px;
        color: map-get($palette, admin-orange);
      }
    }
  }

  .logoutButton {
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px map-get($palette, admin-blue-light) solid;
    padding-left: 16px;
    width: 100%;
    height: 60px;
    color: map-get($palette, admin-dark-gray);
    font-size: 20px;

    .logoutButtonText {
      padding-left: 12px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
