@use '../../../../../../styles/shop-variables';

$spacer: shop-variables.$spacers;
$body-height: 100%;

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: $body-height;

  span {
    align-self: flex-start;
    font-weight: 500;
    margin-bottom: map-get($spacer, 41);
  }
}
