@use '../../../../styles/shop-variables';

$palette: shop-variables.$theme-colors;
$spacer: shop-variables.$spacers;
$checkoutFormMargin: 30px;
$titleFontWeight: 400;
$titleMarginBottom: 30px;
$titleFontSize: 26px;
$borderBottomSize: 1px;
$formCheckMargin: 30px 0;
$inputCheckTransform: scale(0.6);
$inputCheckMarginBottom: 30px;
$inputCheckBorderRadius: 2px;
$linkFontWeight: 700;

.checkoutFormContainer {
  margin-right: $checkoutFormMargin;

  h2 {
    font-weight: $titleFontSize;
    margin-bottom: $checkoutFormMargin;
    font-size: $titleFontSize;
    color: map-get($palette, lopi-dark-green);
  }
}

.formCheck {
  margin: $formCheckMargin;

  > div {
    display: flex;

    > input[type='checkbox'] {
      transform: $inputCheckTransform;
      margin-right: map-get($spacer, 8);
      margin-bottom: $inputCheckMarginBottom;
      border-radius: $inputCheckBorderRadius;
      border: $borderBottomSize solid map-get($palette, lopi-dark-green);
      padding: map-get($spacer, 21);
    }

    > label {
      margin: map-get($spacer, 7) 0;
      color: map-get($palette, lopi-green);

      > a {
        color: map-get($palette, lopi-black);
        font-weight: $linkFontWeight;
      }
    }
  }
}
