@import '../../../variables.scss';

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;
  min-width: 518px;
  min-height: 528px;
  margin: 28px 30px 30px 30px;
  padding: 50px 32px 32px 32px;
  justify-content: space-between;
  gap: 25px;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 12px;
  align-items: center;
  text-align: start;
  font-size: 16px;
  gap: 6px;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.showPasswordButton {
  align-self: center;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 43%;
  font-size: 18px;
  transform: translateY(-45%);

  &:hover,
  &:focus {
    box-shadow: none;
    color: $blue-light;
    background: none;
  }
}

.submitButton {
  margin-top: 10px;
  background-color: $blue-light;
  border: none;
  padding: 10px 16px;

  &:disabled {
    color: black;
    background-color: gray;
  }

  &:hover {
    background-color: $blue-light;
  }

  &:focus {
    border: 0;
    box-shadow: none;
  }
}

.loginButton {
  color: $blue-light;
  border-color: $borderColor;
  padding: 10px 16px;
}
