@use '../../app/styles/admin-variables' as var;

$palette: var.$theme-colors;

$border-radius: 8px;
$border-width: 1px;

.buttonColor {
  border: 1px map-get($palette, admin-green) solid !important;
  color: map-get($palette, admin-green) !important;

  &:active {
    border-color: map-get($palette, admin-green) !important;
    background-color: map-get($palette, admin-green) !important;
    color: #ffffff !important;
  }
}

.basicInfoSectionContainer {
  margin: 0 40px;
  padding-top: 16px;
  width: 90%;
  .addButton {
    border-color: map-get($palette, admin-green);
    background-color: map-get($palette, admin-green);
    color: map-get($palette, admin-white);
    font-size: 18px;
    text-transform: uppercase;
    &:active {
      border-color: map-get($palette, admin-green);
      background-color: map-get($palette, admin-white);
      color: map-get($palette, admin-green);
    }
  }
  .basicInfoTabele {
    margin-top: 16px;
    border: $border-width map-get($palette, admin-light-gray) solid;
    border-radius: $border-radius;
    background-color: map-get($palette, admin-white);
    color: map-get($palette, admin-dark-gray);
    .basicInfoTableSearchContainer {
      border: 1px map-get($palette, admin-orange) solid;
      color: map-get($palette, admin-orange);
    }

    .titleRow {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
      background-color: map-get($palette, admin-gray);
      height: 50px;
      text-align: center;
    }
    .infoList {
      border-top: $border-width map-get($palette, admin-light-gray) solid;
      height: 70px;
      text-align: center;
      .status {
        opacity: 40%;
        border-radius: 14px;
        color: map-get($palette, dark);
      }
      .activeStatus {
        opacity: 40%;
        background-color: map-get($palette, admin-green);
      }
      .inactiveStatus {
        background-color: map-get($palette, admin-red);
      }
      .tabeleDataIcon {
        color: map-get($palette, dark);
      }
    }
    .paginationRow {
      border-top: $border-width map-get($palette, admin-light-gray) solid;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      height: 80px;
      .paginationRowButton {
        margin-right: 28px;
        margin-left: 28px;
        border: 1px map-get($palette, admin-light-gray) solid;
        background-color: map-get($palette, admin-white);
        color: map-get($palette, admin-dark-gray);
        &:active {
          border-color: map-get($palette, admin-light-gray);
          background-color: map-get($palette, admin-light-gray);
          color: #ffffff;
        }
      }
    }
  }
}
